<%= image_tag @task.image %>
<p>
<strong>Name:</strong>
<%= @task.name %>
</p>

<p>
<strong>Email:</strong>
<%= @task.email %>
</p>

<p>
<strong>Task:</strong>
<%= @task.task %>
</p>

<p>
<strong>Task-Time:</strong>
<%= @task.task_time %>
</p>

<p>
<strong>Task-Date:</strong>
<%= @task.task_date %>
</p>
 <%= link_to 'back', todolists_path %>